# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
todo.md
venv/
.venv_wsl/
env/
ENV/
technical_logs/
# Data
app/data/uploads/*
!app/data/uploads/.gitkeep
app/data/vector_db/*
!app/data/vector_db/.gitkeep
app/data/processed/*
!app/data/processed/.gitkeep

# Environment
.env
app/validation/
app/telemetry/


# IDE
.vscode/
.idea/
*.swp

# Testing
.pytest_cache/
.coverage

# OS
.DS_Store