@import "tailwindcss";

/* Define your light theme colors as the default */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-default-background: oklch(0.99 0 0);
  --color-default-text: oklch(0.2 0 0);
}

/* Override variables for the dark theme */
@variant dark {
  --color-default-text: oklch(0.95 0 0);
  --color-default-background: linear-gradient(180deg, #1a1a2e 0%, #16213e 100%)
}

/* Apply global styles using a standard CSS selector */
@layer base {
  body {
    background: var(--color-default-background);
    color: var(--color-default-text);
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button {
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.btn:hover {
  border-color: #646cff;
}

.btn:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.icon:hover {
  border-radius: 10px;
  background-color: #444;
  padding: 2px 4px;
}

/* Apply to any scrollable container */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 10px;
  border: 1px solid transparent;
}