@import "tailwindcss";

/* Define your light theme colors as the default */

@theme {
  --color-default-background: oklch(0.99 0 0);
  --color-default-text: oklch(0.2 0 0);
}

/* Override variables for the dark theme */
@variant dark {
  --color-default-text: oklch(0.95 0 0);
  --color-default-background: linear-gradient(180deg, #1a1a2e 0%, #16213e 100%)
}

/* Apply global styles using a standard CSS selector */
@layer base {
  body {
    background: var(--color-default-background);
    color: var(--color-default-text);
  }
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  cursor: pointer;
  transition: border-color 0.25s;
  
}



button {
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
